body {
  background-color: #f6f9fc;
  margin: 0;
}

h1, h2, p, span, button {
  font-family: 'Nunito Sans', sans-serif;
}

p, span {
  font-size: 18px;
  line-height: 25px;
  margin: 10px 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.content-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 75px 0;
}

.text-img {
  display: flex;
  justify-content: space-between;
}
.text-img > div {
  align-self: center;
}
.text-img img {
  width: 250px;
  border: 1px solid gray;
  padding: 20px 0;
  margin-left: 40px;
}
.text-img-reverse {
  flex-direction: row-reverse;
}
.text-img-reverse img {
  margin-right: 40px;
  margin-left: 0;
}
.imgs-only {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.imgs-only img {
  width: 250px;
  border: 1px solid gray;
  padding: 20px 0;
  margin-left: 10px;
}
.imgs-only-reverse {
  flex-direction: row-reverse;
}
.imgs-only-reverse img {
  margin-left: 0;
  margin-right: 10px;
}


/* Hero */

.hero {
  background-color: #061524;
}
.hero-container {
  padding: 20px;
}
.top-bar {
  display: flex;
  justify-content: space-between;
}
.profile {
  padding: 120px 0;
}
.portrait {
  box-shadow: 0px 0px 100px rgba(255, 255, 255, .4);
}
.hero h1, h2 {
  color: #ece9e8;
  text-align: center;
}
.name {
  font-size: 40px;
  margin: 15px 0 0 0;
}
.quote {
  font-size: 24px;
  margin: 0;
  opacity: .8;
  font-weight: 400;
}
.bottom-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.link-list {
  display: flex;
  justify-content: space-between;
  color: #ece9e8;
  opacity: .8;
}
.link-list li{
  margin-right: 25px;
}
.bottom-bar img {
  margin-left: 15px;
  width: 25px;
}

.content {
  padding: 40px 20px;
  animation: fadein 2s, fadeup 2s;
}



#preferences {
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
  margin: 0 auto;
  max-width: 960px;
}

.preference {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  margin-right: 30px;
  justify-content: space-around;
  max-width: 150px;
}

.preference p, button {
  font-size: 16px;
}

.preference button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}



.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 960px;
}

.content h2, p {
  color: #47525d;
}

.text-container {
  max-width: 540px;
}

.hero-container {
  text-align: center;
}

.hero-container .text-container {
  margin-top: 20px;
}



.title {
  color: #47525d;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.title--size-large {
  font-size: 35px;
}

.title--size-small {
  font-size: 30px;
}

.content-imgs {
  position: relative;
  width: 350px;
  height: 250px;
}

.content-animated-img {
  position: absolute;
  width: 350px;
  height: 250px;
  animation: fadeinout 8s infinite;
}

.content-animated-img--display-hidden {
  display: none;
}

.content-animated-img--display-active {
  display: block;
}

.occupation-location-container {
  align-items: center;
  display: flex;
}

.occupation-location-container h2 {
  padding-left: 10px;
}

.msft-logo {
  height: 30px;
  animation: throb 6s infinite;
  animation-delay: 2s;
}

.msft-logo:hover {
  animation: roll 2s;
}

/* Animations */

@keyframes throb {
  30%, 40% { transform: scale(1); }
  40%, 50% { transform: scale(1.2); }
  50%, 60% { transform: scale(1); }
}

@keyframes roll {
  from { transform: rotate(0deg) translate(0); }
  to { transform: rotate(-360deg) translate(0); }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeup {
  from { transform: translateY(30px); }
  to { transform: translateY(0px); }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

/* Media queries */

@media (min-width: 700px) {

  .content {
    padding: 90px 20px;
  }

  /*.content {
    justify-content: space-between;
    text-align: left;
  }*/

  .content--row {
    flex-direction: row;
  }

  .content--row-reverse {
    flex-direction: row-reverse;
  }

  .hero-container .text-container {
    margin-left: 40px;
    margin-top: 50px;
  }

  .portrait {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    max-width: 180px;
  }

  .title--size-large {
    font-size: 50px;
  }
}