ul {
	text-align: left;
	margin-left: -37px;
	margin-right: -200px;
}

li
{
	display: inline;
	padding-right: 96px;
}

h2
{
	text-align: left;
	color: #C9E2D3;
	padding-top: 25px;
}
h1 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

h3, h5 {
	text-align: center;
}

p
{
	font-family: "PT Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

a
{
	text-decoration: none;
	color: white;
}
a:hover {
	color: gray;
}

#container
{
	height: 100%;
	width: 1000px;
	margin: 15px auto;
}

body
{
	background-color: #3ABE82;
}
