body {
  background-color: gray;
}
#pageContainer {
  background-color: red;
  width: 960px;
  margin: 0px auto;
}

/*Top Nav Bar*/

#topNavBar {
  background-color: blue;
  position: fixed;
}

#topNavBar nav, ul, li {
  display: inline;
  color: white;
}
#topLeft li {
  padding-right: 50px;
}
#topRight li {
  padding-left: 50px;
}
nav #topRight {
  text-align: right;
}