.blogPost {
  background-color: #4E545A;
  border-radius: 2px;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 20px
}
.blogPost img {
  margin: 23px 0px 0px;
  opacity: 1 !important;
}
.blogPost h1 {
  padding: 12px 35px 0px 35px;
  margin: 0px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-weight: normal;
}
.blogPost h3 {
  padding-left: 35px;
  margin: 8px 0px;
  color: #D50F37;
  font-weight: normal;
  font-family: 'Fjalla One', sans-serif;
}
.blogPost p {
    text-align: justify;
    margin: 5px auto;
    padding: 0px 35px 15px 35px;
    background-color: #4E545A;
    color: #FFF;
    opacity: 0.95;
    border-radius: 2px;
    font-family: "Open Sans",sans-serif;
    height: 100%;
}
.bottomNavBlog {
  margin: 18px 0px 30px;
}
h3#blogNav {
  display: inline;
  padding: 0px !important;
  margin-left: 35px;
}
h3#blogNav:hover {
  text-decoration: underline;
  color: white;
}
a#blogNav {
  text-decoration: none;
}