/* >>>>>>>  Common Styles <<<<<<<<*/
body {
  background-color: #101A23;
}
ul {
    list-style-type: none;
    margin: 20px 0px 15px 0px;
    padding: 0px;
    text-align: right;
}
li {
    display: inline;
}
a {
  text-decoration: none;
  color: #101A23;
}
a.currentPage {
  color: #101A23;
  border-radius: 2px;
  background-color: white;
  text-align: center;
  padding: 7px 20px;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}
a.nav{
  color: white;
  border-radius: 2px;
  background-color: #98bf21;
  text-align: center;
  padding: 7px 20px;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}
a.nav:hover {
  background-color: white;
  color: #98bf21;
}

/* >>>>>>>  Index Styles <<<<<<<<*/

/*span {
  font-size: 30px;
  font-family: 'Fjalla One', sans-serif;
}*/
/*#highlight {
  color: #98bf21;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}*/
p#aboutme {
    text-align: left;
    margin: 12px auto;
    padding: 15px 35px 10px;
    height: 113px;
    background-color: #4E545A;
    color: white;
    opacity: .6;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
}
h5#bottomNotes {
  color: #545657;
}

/* >>>>>>>  Container <<<<<<<<*/

#container {
  width: 960px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

/* >>>>>>>  Header Image <<<<<<<<*/

/*img#headerImage {
  width: 960px;
}*/

/* >>>>>>>  Project Section <<<<<<<<*/

.projects {
  margin: 20px 0px 40px 0px;
}
#leftImage {
  margin-right: 25px;
}
#middleImage {
}
#rightImage {
  margin-left: 25px;
}

a#addSean {
  padding: 25px 288px;
  background-color: #D50F37;
  font-size: 30px;
}
#addSean:hover {
  background-color: white;
  color: #D50F37;
}

/* >>>>>>>  Bottom Nav bar <<<<<<<<*/

.bottomNav {
  margin: 45px 0px 30px;
}
li#contactBottom {
   margin-left: 410px;
}

/* >>>>>>>  Menu Page Properties <<<<<<<<*/

a.backMain {
  color: white;
  border-radius: 2px;
  background-color: #D50F37;
  text-align: center;
  padding: 7px 20px;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}
a.backMain:hover {
  background-color: white;
  color: #D50F37;
}
li.contactBottomBackMain {
   margin-left: 253px;
}
img.imageMain {
  margin-bottom: 5px;
}
