body {
  background-color: #101A23;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 20px 0px 15px 0px;
    padding: 0px;
    text-align: right;
}
span {
  font-size: 30px;
  font-family: 'Fjalla One', sans-serif;
}
#highlight {
  color: #98bf21;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
p {
    text-align: left;
    margin: 12px auto;
    padding: 15px 35px 10px;
    height: 113px;
    background-color: #4E545A;
    color: white;
    opacity: .6;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
}
a.nav{
  color: white;
  border-radius: 2px;
  background-color: #98bf21;
  text-align: center;
  padding: 7px 20px;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}
a.nav:hover {
  background-color: white;
  color: #98bf21;
}
h5 {
  color: #545657;
}

/* >>>>>>>  Container <<<<<<<<*/

#container {
  width: 960px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

/* >>>>>>>  Project Section <<<<<<<<*/

.projects {
  margin: 20px 0px;
}
#leftImage {
  margin-right: 25px;
}
#rightImage {
  margin-left: 25px;
}

a#addSean {
  padding: 25px 288px;
  background-color: #D50F37;
  font-size: 30px;
}
#addSean:hover {
  background-color: white;
  color: #D50F37;
}

/* >>>>>>>  Bottom Nav bar <<<<<<<<*/

.bottomNav {
  margin: 45px 0px 30px;
}
#contactBottom {
   margin-left: 410px;
}